# CALIDAD DE DATOS

<h1>Archivo : 4_internet_ingresos_nacional.csv</h1>

Cargamos librerias

In [16]:
import pandas as pd
import warnings

Ignoramos los mensajes de warnings

In [18]:
# cargamos el archivo
df = pd.read_csv(r'..\CSV\4_internet_ingresos_nacional.csv', sep=',', encoding='UTF-8')

In [19]:
# vemos la primer linea para identificar columna y datos
df.head(1)

    Año  Trimestre  Ingresos (miles de pesos)       Periodo
0  2022          4                         72  Oct-Dic 2022

In [20]:
# obtenemos la info del datasets
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        36 non-null     int64
 1   Trimestre                  36 non-null     int64
 2   Ingresos (miles de pesos)  36 non-null     int64
 3   Periodo                    36 non-null     object
dtypes: int64(3), object(1)
memory usage: 1.3+ KB

***Normalizamos el nombre de las columnas***

In [21]:
df.columns

Index(['Año', 'Trimestre', 'Ingresos (miles de pesos)', 'Periodo'], dtype='object')

Trabajamos en el nombre de las columnas y las normalizamos

In [22]:
# Convertir los nombres de las columnas a minúsculas
df.columns = df.columns.str.lower()

In [23]:
# Reemplazar los espacios por guiones bajos en los nombres de las columnas
df.columns = df.columns.str.replace(' ', '_')

In [24]:
df.describe()

               año  trimestre  ingresos_(miles_de_pesos)
count    36.000000  36.000000                  36.000000
mean   2018.000000   2.500000                  21.888889
std       2.618615   1.133893                  19.239510
min    2014.000000   1.000000                   3.000000
25%    2016.000000   1.750000                   6.750000
50%    2018.000000   2.500000                  14.500000
75%    2020.000000   3.250000                  32.500000
max    2022.000000   4.000000                  72.000000

***Verificamos la existencia de registros duplicados y valores nulos***

In [25]:
# verificamos la existencia de registros duplicados
duplicados_df = df[df.duplicated()]
duplicados_df

Empty DataFrame
Columns: [año, trimestre, ingresos_(miles_de_pesos), periodo]
Index: []

In [26]:
# Buscar los valores NaN en la columna 'mi_columna'
valores_nulos = df.isnull().sum()
# Contar valores nulos por columna
valores_nulos

año                          0
trimestre                    0
ingresos_(miles_de_pesos)    0
periodo                      0
dtype: int64

*Eliminamos la columna ***periodo*** por ser recurrente con la columa ***trimestre***

In [27]:
df = df.drop(columns='periodo')

***Grabamos el archivo csv***

In [29]:
df.to_csv('../csvPi/Ingresos trimestrales por internet.csv', index=False)